name: Lint OpenAPI

on:
  pull_request:
    paths:
      - 'openapi/openapi.json'
  push:
    branches: [main]
    paths:
      - 'openapi/openapi.json'
  merge_group:

jobs:
  validate:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v6

      - uses: actions/setup-node@v6
        with:
          node-version: '20'

      - name: Validate OpenAPI spec
        run: npx @openapitools/openapi-generator-cli validate -i openapi/openapi.json
